common: &COMMON
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: rails
  password:

development:
  <<: *COMMON
  database: firewatch_development

test: &TEST
  <<: *COMMON
  database: firewatch_test<%= ENV['TEST_ENV_NUMBER'] %>

cucumber:
  <<: *TEST

